body{
	background-color:rgb(255, 255, 255);
	color:rgb(172, 185, 189);
	font-family:Garamond, serif;
	font-size:16px;
	font-weight:normal;
	font:normal 16px Garamond, sans-serif;
	line-height: 1.6em;
	margin:0;
}

.container
{
	width: 80%;
	margin: auto;
}

.button{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding:4px 8px;
    border: none;
    width:15%;
    margin-top:4px;
    margin-left:4px;
    float:none;
    font-size:95%;
}

.button1{
  
  color:rgb(0, 0, 0);
  padding:4px 8px;
  border: none;
  width:12%;
  margin-top:4%;
  float:none;
  font-size:100%;
  font-weight:bold;
  text-align:center;

}

.button2{
  
  color:rgb(255, 255, 255);
  padding:4px 8px;
  border: none;
  width:100%;
  margin-top:4%;
  margin-left:10%;
  text-align: center;
  float:none;
  font-size:100%;
}


.button3{
  
  color:rgb(255, 255, 255);
  padding:4px 8px;
  border: none;
  width:100%;
  margin-left:49%;
  text-align: left;
  float:none;
  font-size:100%;
}

.fix-me{
  position:fixed;
  top:80%;
  right: 0%;
  width:9%;
  color:rgb(255, 255, 255);
  background-color: black;
  font-size:95%;
  float:none;
 
}

.button:hover{
    background:rgb(255, 255, 255);
    color:#000000;
}

.button1:hover{
  background:rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}

.button2:hover{
    background:rgb(255, 255, 255);
    color:#000000;
}

.searchbar input[type=text] {
    float: right;
    padding: 1px 3px;
    border: none;
    margin-top:0.75%;
    margin-right:1%;
    font-size: 95%;
  }

  @media screen and (max-width: 600px) {
    .searchbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .searchbar input[type=text] {
      border: 1px solid rgb(255, 255, 255);
    }
  }

  .searchbar{
    background-color: rgb(0, 2, 3);
    background-position: center right;
    height:34px;
  }

  .searchbar2{
    background-color: rgb(0, 2, 3);
    background-position: left;
    height:fit-content;
    width: 80%;
    position:fixed;
  }

  .showcase2{
    background-image:url('poze/cerb.jpg');
    background-position: bottom;
    height:260px;
    width: 100%;
    margin-bottom:1%;
    margin-top:0.5%;
  }

  .menubar{
    background-position: center;
    width:100%;
    top:0;
    text-align: center;
    height:34px;
    color:black;
    margin-bottom: 1%;
    border: 1px solid rgb(0, 0, 0);
    margin-right: 20px;
  }

  a:hover{
    color:rgb(255, 255, 255);
  }

  a{
    text-decoration: none;
    color:#000000;
}
  .categories ul{
    padding:0;
    list-style:square;
    list-style:none;
    float:left;
    color:rgb(255, 255, 255);
  }

  .categories li{
    color:rgb(252, 252, 252);
  }

  .block{
    float:left;
    width:100%;
    color:rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
    padding:10px;
    margin-bottom:1.5%;
    box-sizing:border-box;
  }

  .block1{
    float:left;
    width:64%;
    color:rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
    padding:10px;
    margin-top: 30px;
    box-sizing:border-box;
  }

.block2{
      float:right;
      width:35%;
      background-color: rgb(97, 99, 100);
      color:rgb(255, 255, 255);
      padding:15px;
      margin-top:30px;
      height:176.5px;
      box-sizing: border-box;
    }

    .jos{
      float:left;
      width:50%;
      height:187px;
      background-color:  rgb(159, 159, 163);
      color:rgb(255, 255, 255);
      padding:15px;
      margin-top:30px;
      box-sizing: border-box;
    }
  
    .jos2{
      float:right;
      width:50%;
      background-color: rgb(159, 159, 163);
      color:rgb(255, 255, 255);
      padding:15px;
      height:187px;
      margin-top:30px;
      box-sizing: border-box;
    }

  .my-form{
      padding:20px;
      color:#333;
  }

  .my-form .form-group{
      padding: 20px;
  }

  .my-form label{
      display:block;
  }

  .my-form input{
      padding:8px;
      width:100%;
  }

  .button-submit{
      background-color: #333;
      color:#fff;
      border:none;
      padding:2px 3px;
      width:12%;
      margin-top:4%;
      float:none;
      font-size:100%;
      font-weight:bold;
      text-align:center;
  }

  .titlu{
      text-align: center;
      font-size: 130%;
      margin-top:10%;
      color:#333;
      font-weight:bold;
  }

  @media(max-width:600px){
    .container{
      width:100%;
      float:none;
    }
    .searchbar{
      width:100%;
      float:none;
    }
    .fix-me{
      width: max-content;
      right: 0%;
    }
    .jos{
      width:100%;
    }
    .searchbar2{
      width:100%;
      float:none;
      text-align:center;
    }
    .jos2{
      width: 100%;
    }
  }

  